@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
body {
  background-color: darkblue;
  font-family: "VT323", monospace;
  margin: 0;
  padding: 0;
}
#canvasGame {
  position: absolute;

  top: 250px;
  left: 50%;
  transform: translate(-50%, 0%);
  border: 8px solid whitesmoke;
  border-radius: 10px;
}
h1 {
  color: yellow;
  padding-top: 50px;
  text-align: center;
  margin: 0px;
  font-size: 2.5rem;
  text-shadow: 3px 1px #ff0000, 3px 1px #ff0000;
}
.header {
  text-align: center;
  width: 100%;
  height: 15px;
}
#footer2 {
  font-size: 1.75em;
  font-weight: bold;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 900px;
  left: 50%;
  width: 400px;
  transform: translate(-50%, 0%);
  line-height: 0px;
  text-align: center;
  text-shadow: 1px 1px #ffffff, -1px -1px #ffffff;

}
.score {
  
  color: yellow;
  padding-top: 50px;
  text-align: center;
  margin: 0px;
  font-size: 2.5rem;
  text-shadow: 3px 1px #ff0000, 3px 1px #ff0000;
}
#gameControls {
  padding-top: 20px;
  padding-left: 55px;
  display: flex;
  position: relative;
  color: yellow;
  max-width: 450px;
  font-size: 2.5rem;
  text-shadow: 3px 1px #ff0000, 3px 1px #ff0000;
}

#levelCounter {
  padding-top: 20px;
  padding-left: 55px;
  display: flex;
  position: relative;
  max-width: 200px;
  max-height: fit-content;
  color: yellow;
  font-size: 2.5rem;
  text-shadow: 3px 1px #ff0000, 3px 1px #ff0000;
}
