@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
body {
  background-color: darkblue;
  font-family: "VT323", monospace;
}
canvas {
  margin-top: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 8px solid whitesmoke;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
h1 {
  color: yellow;
  padding-top: 50px;
  text-align: center;
  margin: 0px;
  font-size: 2.5rem;
  text-shadow: 3px 1px #ff0000, 3px 1px #ff0000;
}
.header {
  padding: 0;
  margin: 0;
  position: relative;
  top: 5px;
  left: 50%;
  width: 400px;
  transform: translate(-50%, 0%);
  line-height: 0px;
  text-align: center;
}
footer {
  font-size: 1.75em;
  font-weight: bold;
  position: fixed;
  bottom: 10%;
  left: 42.5%;
  text-shadow: 1px -1px #ffffff, -1px 1px #ffffff;
}
.score {
  color: yellow;
  padding-top: 50px;
  text-align: center;
  margin: 0px;
  font-size: 2.5rem;
  text-shadow: 3px 1px #ff0000, 3px 1px #ff0000;
}
.game-controls {
  color: yellow;
  padding-top: 50px;
  margin-top: 12%;
  margin-left: .75%;
  font-size: 2.5rem;
  text-shadow: 3px 1px #ff0000, 3px 1px #ff0000;
}
.level {
  color: yellow;
  font-size: 2.5rem;
  text-shadow: 3px 1px #ff0000, 3px 1px #ff0000;
  margin-top: -10%;
  margin-left: 22%;
}
