@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
body {
  background-color: darkblue;
  font-family: "VT323", monospace;
  margin: 0;
  padding: 0;
}
#canvasGame {
  position: absolute;

  top: 250px;
  left: 50%;
  transform: translate(-50%, 0%);
  border: 8px solid whitesmoke;
  border-radius: 10px;
}
h1 {
  color: yellow;
  padding-top: 50px;
  text-align: center;
  margin: 0px;
  font-size: 2.5rem;
  text-shadow: 3px 1px #ff0000, 3px 1px #ff0000;
}
ol {
  margin: 0;
  padding: 0;
}
.header {
  text-align: center;
  width: 100%;
  height: 15px;
}
#footer2 {
  font-size: 1.75em;
  font-weight: bold;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 900px;
  left: 50%;
  width: 400px;
  transform: translate(-50%, 0%);
  line-height: 0px;
  text-align: center;
  text-shadow: 1px 1px #ffffff, -1px -1px #ffffff;
}
#score {
  color: yellow;
  padding-top: 50px;
  text-align: center;
  margin: 0px;
  font-size: 2.5rem;
  text-shadow: 3px 1px #ff0000, 3px 1px #ff0000;
}
#gameControls {
  top: 80%;
  left: 15%;
  text-align: center;
  display: block;
  position: absolute;
  color: yellow;

  font-size: 2.5rem;
  text-shadow: 3px 1px #ff0000, 3px 1px #ff0000;
}

#levelCounter {
  padding: 0;
  margin: 0;
  top: 0;
  left: 27%;
  display: block;
  position: absolute;
  text-align: center;
  color: yellow;
  font-size: 2.5rem;
  text-shadow: 3px 1px #ff0000, 3px 1px #ff0000;
}
#gameOver {
  display: none;
  text-align: center;
  position: absolute;

  top: 150px;
  left: 50%;
  transform: translate(-50%, 0%);

  color: yellow;
  font-size: 2.5rem;
  text-shadow: 3px 1px #ff0000, 3px 1px #ff0000;
}
.game-btn {
  padding: 10px;
  min-width: 220px;
  display: block;
  font-family: inherit;
  font-weight: bold;
  font-size: 2rem;
  color: yellow;
  text-shadow: 3px 1px #ff0000, 3px 1px #ff0000;
  background-color: darkblue;
  border: 3px solid yellow;
}
.game-btn:hover {
  cursor: pointer;
  background-color: rgb(0, 94, 126);
}
#levelSelect {
  width: fit-content;
  display: block;
  position: absolute;
  top: 30%;
  left: 33%;
  text-align: center;
}
#languageSelect {
  top: 33%;
  left: 110%;
  position: absolute;
}
.game-btn2 {
  padding: 10px;
  min-width: 220px;
  display: block;
  font-family: inherit;
  font-weight: bold;
  font-size: 2rem;
  color: yellow;
  text-shadow: 3px 1px #ff0000, 3px 1px #ff0000;
  background-color: darkblue;
  border: 3px solid yellow;
  box-shadow: 3px 1px #ff0000, 3px 3px #ff0000;
}
.game-btn2:hover {
  cursor: pointer;
  background-color: rgb(0, 94, 126);
}
